.sidebar
  .sidebar__header
    .sidebar__header__user-name
      .sidebar__header__user-name__left-name
        masa
      .sidebar__header__user-name__right-icon
        .sidebar__header__user-name__right-icon__write
          = link_to "#" do
            = icon('far', 'edit', class: 'my-white')
        .sidebar__header__user-name__right-icon__gear
          = link_to "#" do
            = icon('fas', 'cog', class: 'my-white2')
            

        
  .sidebar__groups
    .sidebar__groups__top
      techcamp
      .sidebar__groups__top__second
        まだメッセージがありません

    .sidebar__groups__bottom


  -# class: "contents__btn" 